.nav-bar{
    min-height: 100vh;
}

.nav-bar-logo{
    background-image: url('../images/logo-ANSWER.svg');
    width: 151px;
    height: 40px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;

    margin-right: 133px;
    margin-left: 32px;
}

.nav-bar-link{
    a{
        border-left: 4px solid transparent;

        &:hover{
            background: $secondary;
        }

        &.active{
            color: $tertiary;
            border-left: 4px solid $tertiary;
        }
    }
}