$pad: 992px;
$mobile: 767px;
$mobile-s: 320px;

@mixin pad{
    @media (max-width: $pad){
        @content;
    }
}

@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}

@mixin mobile-s{
    @media (max-width: $mobile-s){
        @content
    }
}


.col-3{
    width: calc((100% - #{$gutter} * 3) / 4);

    @include pad{
        width: calc((100% - #{$gutter}) / 2);
        img{
            width: 100%;
        }
    }

    @include mobile{
        width: 100%;
    }
    
}


.col-4{
    width: calc((100% - #{$gutter} * 2) / 3);

    @include pad{
        width: calc((100% - #{$gutter}) / 2);
        img{
            width: 100%;
        }
    }

    @include mobile{
        width: 100%;
    }
    
}

.col-6{
    width: calc((100% - #{$gutter}) / 2);

    @include mobile{
        width: 100%;
    }
}

.col-7{
    width: calc(58.333333% - #{$gutter});
}

.col-sm-12{
    @include mobile{
        width: 100%;
    }
}