.top-menu{
	padding: 0 88px;
	@include pad{
		padding: 0 40px;
	}
	@include mobile{
		flex-direction: column;
		padding: 0;
	}
}

.top-menu-logo{
	background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true') center/contain no-repeat;
	width: 80px;
	height: 49px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	margin: 30px 0;

	@include pad{
		margin: 10px 0;
	}

	@include mobile{
		width: 48px;
	}
}

.top-menu-nav{
    @include mobile{
        flex-wrap: wrap;
        width: 100%;
    }
}

.top-menu-nav li{
    @include mobile{
        width: 50%;
        border: 1px solid #fff;
        text-align: center;
    }
}

.top-menu-nav-link{
	padding: 32px;

	@include link-hover{
		color: $secondary;
	}

	@include mobile{
		padding: 8px 0;
	}
}