.bg{
    &-primary{
        background: $primary;
    }
    &-secondary{
        background: $secondary;
    }
    &-light{
        background: $light;
    }
    &-black{
        background: $black;
    }
}