.blog-inside-content{
    width: 75%;
    margin-right: 30px;

    @include mobile{
        width: 100%;
        margin-right: 0;
    }
}

.blog-inside-content-tag{
    display: inline;

    @include pad{
        font-size: 16px;
    }

    @include mobile{
        font-size: 14px;
    }

    @include link-hover{
        color: $secondary;
    }
}

.blog-inside-content-title-zh{
    @include pad{
        font-size: 32px;
    }
    @include mobile{
        font-size: 20px;
    }
}

.blog-inside-content-title-en{
    @include pad{
        font-size: 16px;
    }
    @include mobile{
        font-size: 14px;
    }
}

.blog-inside-content-date{
    @include pad{
        font-size: 14px;
    }
}


.blog-inside-tag-title{
    font-size: 28px;

    @include pad{
        font-size: 20px;
    }

    img{
        @include pad{
            width: 24px;
        }
    }
}


.blog-inside-content-section{
    margin-bottom: 36px;

    @include pad{
        margin-bottom: 24px;
    }

    img{
        width: 100%;
    }

    p{
        color: #555555;

        @include pad{
            font-size: 16px;
        }
    }
}


.blog-inside-social-media{
    border-bottom: 1px solid #707070;

    a{
        @include mobile{
            margin-left: 18px;
        }
    }
}

.blog-inside-page-turning{
    margin-bottom: 304px;

    @include pad{
        margin-bottom: 104px;
    }

    @include mobile{
        margin-bottom: 40px;
        display: block;
    }

    img,span{
        display: inline;
    }

    img{
        @include pad{
            width: 20px;
        }

        @include mobile{
            width: 16px;
        }
    }

    span{
        @include link-hover{
            color: $primary;
        }

        @include pad{
            font-size: 16px;
        }

        @include mobile{
            font-size: 14px;
        }
    }

}

.blog-inside-tag{
    width: calc((100% - #{$gutter} * 3) / 4);
    @include mobile{
        width: 100%;
        margin-bottom: 56px;
    }

    li{
        display: inline-block;

        @include pad{
            margin-right: 16px;
        }

        @include mobile{
            margin-right: 8px;
        }
    }
 
    a{
        @include pad{
            font-size: 16px;
        }

        @include link-hover{
            color: $secondary;
        }
     }
 }