.inside-page-banner{
    height: 304px;

    .container{
        height: 100%;
    }

    @include mobile{
        height: 143px;
    }
}

.inside-page-banner-title{
    @include pad{
        font-size: 48px;
        img{
            width: 30px;
            margin-left: 16px;
        }
    }

    @include mobile{
        font-size: 28px;
        img{
            width: 16px;
            margin-left: 8px;
        }
    }
}