.pagination{
    margin-bottom: 156px;
    
    @include pad{
        margin-bottom: 104px;
    }

    @include mobile{
        margin-bottom: 56px;
    }

    ul{
        border-width: 1px 0 1px 1px;
        border-style: solid;
        border-color: #555555;
    }
    li{
        border-right: 1px solid #555555;
    }

    a{
        color: #555555;
        font-size: 18px;
        padding: 10px 14px;

        @include link-hover{
            background: #F2F2F2;
        }

        &.active{
            background: #000;
            color: #fff;
        }

        @include mobile{
            font-size: 12px;
            padding: 8px 10px;
        }
    }
}