.product{
    margin-bottom: 104px;

    @include link-img-hover-zoom-in;

    @include pad{
        margin-bottom: 72px;
    }

    @include mobile{
        margin-bottom: 32px;
    }
}

.product-info{
    h3,span{
        @include mobile{
            font-size: 16px;
        }
    }
}

.color-choice{
    width: 24px;
    height: 24px;
    border-radius: 2px;
}